---
import { cva, type VariantProps } from "cva";

const buttonVariants = cva({
  base: [
    "inline-flex",
    "items-center",
    "justify-center",
    "gap-2",
    "leading-none",
    "px-6",
    "py-4",
    "whitespace-nowrap",
    "hover:opacity-80",
  ],
  variants: {
    variant: {
      contained: null,
      outlined: null,
      text: null,
    },

    size: {
      medium: [
        "text-base",
        "leading-6",
        "[&>svg]:w-[20px]",
        "[&>svg]:h-[20px]",
      ],
      large: ["text-2xl", "leading-8", "[&>svg]:w-[25px]", "[&>svg]:h-[25px]"],
    },

    color: {
      primary: null,
    },

    selected: {
      true: ["text-primary-hover-text bg-primary-ghost-bg"],
    },
  },

  compoundVariants: [
    {
      variant: "contained",
      color: "primary",
      class: "text-white bg-button",
    },
    {
      variant: "text",
      color: "primary",
      class: "text-button",
    },
    {
      variant: "outlined",
      color: "primary",
      class: "text-text border-2 border-text/25",
    },
  ],
});

interface Props extends VariantProps<typeof buttonVariants> {
  disabled?: boolean;
  href?: string;
  external?: boolean;
}

const {
  variant = "contained",
  color = "primary",
  size = "medium",
  href,
  external,
  selected,
} = Astro.props;
---

<a
  class={buttonVariants({ variant, size, color, selected })}
  href={href}
  target={external ? "_blank" : undefined}
  rel={external ? "noopener noreferrer" : undefined}
>
  <slot />
</a>
