---
import { cva, type VariantProps } from "cva";

const containerVariants = cva({
  base: "mx-auto max-w-screen-2xl w-full",
  variants: {
    inset: {
      true: "px-6 sm:px-8",
    },
  },
});

interface Props extends VariantProps<typeof containerVariants> {
  className?: string;
}

const { inset, className } = Astro.props;
---

<div class={containerVariants({ inset, class: className })}><slot /></div>
