---
import Container from "../design-system/Container.astro";
---

<footer>
  <Container inset className="py-8">
    <ul class="flex items-center gap-4 sm:gap-10 justify-end">
      <li>
        <a href="/privacy" class="hover:opacity-80">Privacy</a>
      </li>
      <li>
        <a href="/imprint" class="hover:opacity-80">Imprint</a>
      </li>
    </ul>
  </Container>
</footer>
