---
import Container from "../design-system/Container.astro";
import Heading from "../design-system/Heading.astro";
import Text from "../design-system/Text.astro";
---

<header>
  <Container inset className="py-6">
    <nav>
      <ul class="flex gap-4 sm:gap-10 items-center">
        <li class="flex-1">
          <a href="/" class="hover:opacity-80">
            <Heading as="span" level="4">Life-centered Design</Heading><br />
            <Heading as="span" level="4"
              ><span style="font-weight: 400;">Collective</span>
            </Heading>
          </a>
        </li>
        <li>
          <a href="/#about" class="hover:opacity-80">
            <Text>About us</Text>
          </a>
        </li>
        <li>
          <a href="/#principles" class="hover:opacity-80">
            <Text>Principles</Text>
          </a>
        </li>
        <li>
          <a href="/#principles" class="hover:opacity-80">
            <Text>Study on LCD tools</Text>
          </a>
        </li>
        <li>
          <a href="/#principles" class="hover:opacity-80">
            <Text>The Members</Text>
          </a>
        </li>
        <li>
          <a href="/#principles" class="hover:opacity-80">
            <Text weight="bold">Collective Resources</Text>
          </a>
        </li>
      </ul>
    </nav>
  </Container>
</header>
