---
import { getCollection } from "astro:content";
import Principle from "../components/Principle.astro";
import Container from "../design-system/Container.astro";
import Heading from "../design-system/Heading.astro";
import Text from "../design-system/Text.astro";

const principles = await getCollection("principles");
---

<section id="principles" class="bg-principles">
  <Container inset className="pt-20 pb-32">
    <Heading level="2" className="text-text mb-4">
      Our Life-centered Design Principles
    </Heading>
    <Text as="p" size="large" className="text-text-light mb-20">
      9 principles to guide life-centered thinking and doing
    </Text>
    <ol
      class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-5 gap-12"
    >
      {
        principles.map((principle) => (
          <li>
            <Principle
              title={principle.data.title}
              description={principle.body}
            />
          </li>
        ))
      }
    </ol>
  </Container>
</section>
