---
import { Image } from "astro:assets";
import resourcesImg from "../assets/resources.png";
import Container from "../design-system/Container.astro";
import Text from "../design-system/Text.astro";
import Button from "../design-system/Button.astro";
import { Icon } from "astro-icon/components";
---

<section id="resources" class="relative bg-white">
  <Container className="block md:flex">
    <Container
      inset
      className="w-1/2 flex items-start justify-center flex-col py-8"
    >
      <h2 class="font-serif font-bold text-4xl lg:text-5xl text-text mb-8">
        Life-centered Design Resources of the Collective
      </h2>

      <Text as="p" size="large" className="mb-8 text-text-light">
        As a collective and individually, we have created a wealth of
        Life-centered Design resources over the last couple of years.
      </Text>
      <div
        class="flex sm:items-center gap-4 flex-col sm:flex-row items-stretch w-full"
      >
        <Button><Icon name="lucide:arrow-right" />Discover all resources</Button
        >
      </div>
    </Container>
    <Container inset className="w-1/2 py-20 flex items-center justify-center">
      <Image
        src={resourcesImg}
        alt="Coming soon illustration"
        class="block w-3/4 mx-auto"
      />
    </Container>
  </Container>
</section>
