---
import { Image } from "@astrojs/image/components";
import Container from "../design-system/Container.astro";
import Heading from "../design-system/Heading.astro";
import Text from "../design-system/Text.astro";
---

<section id="resources" class="relative">
  {/* Background */}
  <div class="hidden xl:flex absolute inset-0">
    <Image
      src="/images/coming-soon.png"
      alt="Coming soon illustration"
      format="avif"
      width={649}
      height={442}
      class="absolute left-0 top-6"
    />
    <div class="w-1/2"></div>
  </div>
  {/* Foreground */}
  <div class="relative">
    <Container className="flex h-[500px]">
      <div class="hidden xl:block w-1/2"></div>
      <Container inset className="w-full xl:w-1/2 pt-20 pb-32">
        <Text as="p" size="large" className="mb-4 text-text-light"
          >Coming soon...</Text
        >
        <Heading className="text-text"
          >A collection of ressources from the group</Heading
        >
      </Container>
    </Container>
  </div>
</section>
