---
import { Image } from "@astrojs/image/components";
import Container from "../design-system/Container.astro";
import Heading from "../design-system/Heading.astro";
import Text from "../design-system/Text.astro";
---

<section id="resources" class="relative">
  <div class="relative">
    <Container className="block md:flex">
      <Container inset className="md:w-1/2 lg:w-2/3 ">
        <Image
          src="/images/coming-soon.png"
          alt="Coming soon illustration"
          format="avif"
          width={736}
          height={548}
          class="object-contain py-20 max-h-[548px]"
        />
      </Container>
      <Container
        inset
        className="w-full md:w-1/2 lg:w-1/3 flex items-start justify-center flex-col py-8"
      >
        <Text as="p" size="large" className="mb-4 text-text-light"
          >Coming soon...</Text
        >
        <h2 class="font-serif font-bold text-4xl lg:text-6xl text-text">
          A collection of ressources from the group
        </h2>
      </Container>
    </Container>
  </div>
</section>
