---
import { getCollection } from "astro:content";
import Container from "../design-system/Container.astro";
import Heading from "../design-system/Heading.astro";
import Text from "../design-system/Text.astro";
import Person from "./Person.astro";

const members = await getCollection("team");
---

<section id="team" class="bg-team">
  <Container inset className="pt-20 pb-32">
    <Heading level="2" className="text-text mb-4">
      Members of the collective
    </Heading>
    <Text as="p" size="large" className="text-text-light mb-20">
      The founders of the Life Centered Design Collective, who are driving
      things forward:
    </Text>
    <ul class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-20 lg:gap-36">
      {
        members.map(async (member) => {
          const { Content } = await member.render();
          return (
            <li>
              <Person name={member.data.name} links={member.data.links}>
                <Content />
              </Person>
            </li>
          );
        })
      }
    </ul>
  </Container>
</section>
